<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454603606438-tidetrioh0lgdiqq2fvepdk2pd49g5f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454603606438-tidetrioh0lgdiqq2fvepdk2pd49g5f3</string>
	<key>API_KEY</key>
	<string>AIzaSyDReZY252f_-0tzjgnpmPmvdqUuL5jD2Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>454603606438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noyancepikkurt.InstagramCloneFBase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefbase</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefbase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454603606438:ios:adf9ab7985726b75392767</string>
</dict>
</plist>